:host {
    display: flex;
    gap: 1rem
}

.todo-element {
    border: 1px rgb(204, 127, 27) solid;
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: rgb(242, 200, 144);
    color: rgb(118, 117, 117);

    &:hover {
        scale: 1.1;
    }
}

.selected-filter {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: rgb(251, 217, 173);;
}