@for (cat of catService.categories; track $index) {
<!-- <li (click)="setFilter(cat.id)" 
 class="todo-element" [class.selected-filter]="cat.id === dataService.filter()?.id">
  {{cat.name}}

</li> -->
}

@for (cat of catService.categories; track $index) {
  <li >
    <span class="badge " id="badge-dismiss-blue" 
      [ngStyle]="{ 'background-color': catService.getCategoryColors(cat.name).background,
        'color': catService.getCategoryColors(cat.name).text
      }"
      (click)="setFilter(cat.id)"
    >
      {{cat.name}}

      @if(dataService.filter()?.id === cat.id) {
      <button type="button" class="badge__close" aria-label="Remove" (click)="clearFilter(); $event.stopPropagation()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
          <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
      </button>
      }

    </span>
  </li>

}

