:host {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.todo-element {
    border: 2px rgb(88, 88, 88) solid;
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: rgb(143, 142, 142);
    color: rgb(255, 255, 255);


    &:hover {
        scale: 1.1;
    }
}

.selected-filter {
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
    position: relative;
}

